{%extends 'base.html'%}

	{%block title%}Seletor de Usuário{%endblock%}
	{%block content%}
		<section class="main-page container text-center">
			<div class="row mb-5">
				<div class="title h5 col-12">Separação de mercadorias Inteligente - host: {{host}}</div>
			</div>
			<div class="row">
				<div class="col-12">
					<form class="form-register" id="register" method="POST">
						{% csrf_token %}
						<div class="msg mb-5 h3">
							Seleção para Clasificação
							{% include 'home/form_error_msg.html' %}
						</div>
						{% for field in form %}
						<div class="row text-center form-group">
							<div class="col-2"></div>
							<div class="col-3 text-right"><i class="fas fa-user"></i>{{field.label}}: </div>
							<div class="col-3">{{field}}</div>
						</div>
						{% endfor %}
						<div class="row text-center btn-send m-3">
							<div class="col-12">
								<button class="btn btn-outline-danger" type="submit">SELECIONAR</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</section>
	{%endblock%}
	{% block footer %}
		{% include 'footer.html' %}
	{% endblock %}
