<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

	<link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="img/x-icon">

	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600' rel='stylesheet' type='text/css'>

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" >
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}" >
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" >
	<link rel="stylesheet" href="{% static 'css/animate.css' %}" >
	<link rel="stylesheet" href="{% static 'css/style.css' %}?version=1" >
    <title>Taf / i-City --> TI</title>
</head>
<body>
	<header class="header" id="header">
		<!--header-start-->
		<div class="container">
			<figure class="logo animated fadeInDown delay-07s">
				<a href="#"><img src="{% static 'img/logo.png' %}" alt=""></a>
			</figure>
			<h1 class="animated fadeInDown delay-07s">Taf Distribuiora</h1>
			<ul class="we-create animated fadeInUp delay-1s">
				<li>Protótipo carro autônomo de separação de mercadorias.</li>
			</ul>
			<a class="link animated fadeInUp delay-1s servicelink" href="#plans">Iniciar Agora</a>
		</div>
	</header>
	<div class="container-fluid">

	</div>
	<footer class="footer">
		<div class="container">
			<div class="footer-logo"><a href="#"><img src="{% static 'img/footer-logo.png' %}" alt=""></a></div>
			<span class="copyright">Taf AI Plataform</span>
			<div class="credits">
				Designed by <a href="https://github.com/AlcindoSchleder/">Alcindo Schleder</a>
			</div>&copy; Taf Distribuidora - Todos os direitos reservados
		</div>
	</footer>
    <div class="scroll-top-wrapper">
        <span class="scroll-top-inner">
            <i class="fa fa-2x fa-arrow-circle-up"></i>
        </span>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{% static 'js/jquery-scrolltofixed.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/wow.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/classie.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/magnific-popup.js' %}"></script>
</body>
</html>
