{%extends 'base.html'%}


{%block title%}Taf - Login{%endblock%}

{%block content%}
    <section class="container login-box text-center">
        <h2>Identificação do Usuário</h2>
        <div class="card">
            {% if not request.user.is_authenticated %}
            <form class="form-login" id="login" method="POST">
                {% csrf_token %}
                <div class="msg text-warning">Carro {{car_id}}: Digite seu código de usuário:
                {% include 'home/form_error_msg.html' %}
                </div>
                {% for field in form %}
                <div class="row text-center form-fields">
                    <span class="col-3"></span>
                    <span class="col-2"><i class="fas fa-user"></i>{{field.label}}</span>
                    <span class="col-4">{{field}}</span>
                </div>
                {% endfor %}
                <div class="row text-center btn-send">
                    <div class="col-12">
                        <button class="btn btn-outline-danger" type="submit">ENTRAR</button>
                    </div>
                </div>
            </form>
            {%endif%}
        </div>
    </section>
{%endblock%}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
