{%extends 'base.html'%}
{% load static %}

{%block title%}Alocar Caçambas{%endblock%}
{%block content%}
		<section class="container-fluid text-center">
            <div class="row">
                <div class="col-2"></div>
                <h3 class="carrier-title col-10">Localização das Caçambas</h3>
            </div>
            <div class="row carrier-blocks">
                <div class="col-2">
                    <img src="{% static 'img/prod.png' %}" alt="product" />
                </div>
                <div class="carrier-box col-10">
                {% for level in levels %}
                    {% for box in boxes %}
                    <div class="boxes d-block float-left">
                        <div class="box-{{level}}-{{box}} box-level">
                            <div class="box-pos box-pos-{{level}}-{{box}}">{{level}}.{{box}}</div>
                            <div class="box-qtd box-text-{{level}}-{{box}}">0</div>
                            <div class="box-id box-text-{{level}}-{{box}}">Não Alocada</div>
                        </div>
                    </div>
                    {% endfor %}
                {% endfor %}
    			</div>
			</div>
		</section>
{%endblock%}