{%extends 'base.html'%}
{% load static %}

{%block title%}Alocar Caçambas{%endblock%}
{%block content%}
		<section class="container-fluid text-center">
            <div class="row">
                <div class="col-2"></div>
                <h3 class="carrier-title col-10">Localização das Caçambas</h3>
            </div>
            <div class="row carrier-blocks">
                <div class="col-2">
                    <img src="{% static 'img/prod.png' %}" alt="product" />
                </div>
                <div class="carrier-box col-10">
                {% if loadbox %}
                <form id="form_boxes" method="POST">
                    {% csrf_token %}
                {% endif %}
                {% for level in levels %}
                    {% for box in boxes %}
                    <div class="boxes d-block float-left">
                        <div class="box-{{level}}-{{box}} box-level">
                            <div class="box-pos box-pos-{{level}}-{{box}}">{{level}}.{{box}}</div>
                            <div class="box-qtd box-text-{{level}}kl
                            -{{box}}">0</div>
                            <div class="box-id box-text-{{level}}-{{box}}">
                                {% if loadbox %}
                                <input type="text" maxlength="20" name="in_{{level}}_{{box}}" id="in_{{level}}_{{box}}" required />
                                {% else %}
                                Box {{boxesid}} {{loadbox}}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endfor %}
                </form>
    			</div>
			</div>
		</section>
{%endblock%}
	{% block scripts %}
    <script src="{% static 'js/index.js' %}"></script>
	{% endblock %}
