{% load static %}
{% block footer %}
	<footer class="footer">
		<div class="container-fluid">
			<div class="footer-logo float-right">
				<a href="#"><img src="{% static 'img/footer-logo.png' %}" alt=""></a>
			</div>
			<div class="credits float-right">
				Designed by <a href="https://www.icity.net.br">i-City Smart Environments</a>
			</div>
			<div class="float-none"></div>
			<p class="copyright text-right">
				<br />&copy; i-City - Todos os direitos reservados
			</p>
			<div class="float-none"></div>
		</div>
	</footer>
{% endblock %}
