{% load static %}
{% block menu %}
    <nav class="main-nav-outer" id="test">
        <h1 class="text-center title-h4">Taf Distribuidora</h1>
        <!--main-nav-start-->
        <div class="container">
            <ul class="main-nav">
                <li><a href="#header">Iníciar</a></li>
                <li><a href="#service">Serviços</a></li>
                <li><a href="#plans">Planos</a></li>
                <li class="small-logo"><a href="#header"><img src="{% static 'img/small-logo.png' %}" alt=""></a></li>
                <li><a href="#client">Clientes</a></li>
                <li><a href="#team">Equipe</a></li>
                <li><a href="#contact">Contato</a></li>
            </ul>
            <a class="res-nav_click" href="#"><i class="fa fa-bars"></i></a>
        </div>
    </nav>
    <!--main-nav-end-->
{% endblock %}
